/* for font style */

.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,for nev section ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/
.nav{
    width: 1140px;
    height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nevigations{
    text-decoration: none;
    margin-left: 40px;
    
}
.all-nevigation{
    margin-top: 25px;
    
}
.nev-style1{
 color: #252432;
}
.nev-style2{
color: #8987A1;
}

.nev-aside{
    display: flex;
    width: 1140px;
    height: 461px;
    margin: 0 auto;
    align-items:end;
    
    justify-content: space-between;
}
.nav-cloumns{
    width: 570px;
   
}
.banner-title{
    font-size:4.1rem ;
    font-weight: bold;
}
.banercolor{
    color: #E95A08;
}
.banner-discription{
    color: rgba(0, 0, 0, 0.5);
    font-size:1rem ;
    
}
/*................................... for card section ..................................*/








/* ...................................for medis querry.................... */
 @media screen and (max-width:576px){
    .nav{
        width: 100%;
        height: 68px;

    }
   .nevspecial{
    display: none;
    
   }
 .nev-logo{
    margin-left: 10px;
 }
 .all-nevigation{
    margin-right: 10px;
 }
 
 .nev-aside{width: 100%;
    flex-direction: column;
    flex-direction: column-reverse;
    margin-top: 20px;
    height: auto;

 }
 .nav-cloumns{
    width: 100%;
 }
 .bener-img{
    width: 100%;
 }
 .banner-title{
    font-size: 3rem;
    margin-top: 30px;
 }
    
 }