/* for font style */

.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,for nev section ,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,*/
.nav{
    width: 1140px;
    height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.nevigations{
    text-decoration: none;
    margin-left: 40px;
    
}
.all-nevigation{
    margin-top: 25px;
    
}
.nev-style1{
 color: #252432;
}
.nev-style2{
color: #8987A1;
}

.nev-aside{
    display: flex;
    width: 1140px;
    height: 461px;
    margin: 0 auto;
    align-items:end;
    
    justify-content: space-between;
}
.nav-cloumns{
    width: 570px;
   
}
.banner-title{
    font-size:4.1rem ;
    font-weight: bold;
}
.banercolor{
    color: #E95A08;
}
.banner-discription{
    color: rgba(0, 0, 0, 0.5);
    font-size:1rem ;
    
}
/*................................... for card section ..................................*/
 .card-section{
    width: 1140px;
    margin: 0 auto;
    margin-top: 100px;
 }
 .all-card{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  
 }
 .card{
    margin-top: 20px;
    text-align: center;
 }
  .card-title{
    font-size: 3.12rem;
    font-weight: bold;
    text-align: center;
  }
  .text-center{
    text-align: center;
  }
 .card-name{
  font-size: 1.4rem;
  font-weight: 500;
  color: #111111;
 }
 .card-prize{
  font-size: 1.4rem;
  font-weight: bold;
  color: #111111;
  grid-column: none;
 }
 .card-button{
    width: 270px;
    height: 50px;
 color: aliceblue;
 font-size: 1rem;
 font-weight: 600;
 background-color:#E95A08 ;
 }




 /* ...............for top middle body............. */

.middle-body{
   display: flex;
   width: 1140px;
   height: 597px;
   margin: 0 auto;
   margin-top: 210px;
   justify-content: space-between;
   
}
.middlebody-cloumns1{

   width: 540px;
   height: 597px;
   position: relative;
}
.middlebody-cloumns2{

   width: 560px;
   height: 521px;
}
.middlebody-title{
font-size: 3.125rem;
font-weight: bold;
}
.mdody-discription{


font-size: 1.4rem;

}

.badge{
 width: 250px;
 height: 250px;
 position: absolute;
 left: 68%;
 top: -15%;
 
 filter: drop-shadow(2px 2px 5px );
}






/* ...................................for medis querry.................... */
 @media screen and (max-width:576px){
    .nav{
        width: 100%;
        height: 68px;

    }
   .nevspecial{
    display: none;
    
   }
 .nev-logo{
    margin-left: 10px;
 }
 .all-nevigation{
    margin-right: 10px;
 }
 
 .nev-aside{width: 100%;
    flex-direction: column;
    flex-direction: column-reverse;
    margin-top: 20px;
    height: auto;

 }
 .nav-cloumns{
    width: 100%;
 }
 .bener-img{
    width: 100%;
 }
 .banner-title{
    font-size: 3rem;
    margin-top: 30px;
 }
  .card-section{
    width:100%;
    
    margin-top: 20px;
    
 }
  .all-card{
    width: 80%;
     
  grid-template-columns: repeat(2,1fr);
 gap: 10px;
 margin-left: 10px;
  /* text-align: center; */
   
  /* margin: 0 auto;  */
  /* padding-left: 15px; */
  /* margin-left: 10px; */
  
 
 }
 .card-button{

   width: 171px;
  height: 50px;
 }
 .card{
   width: 171px;
   
    text-align: center;
 }
 .card-img{
    width: 100%;
 }
 .display-none{
   display: none;
 }
 /* ......for middle boby section ............. */
 .middle-body{
  flex-direction: column;
   width: 100%;
   height: auto;
   margin: 0 auto;
   margin-top: 100px;
   
   
}
.middlebody-cloumns1{

   width: 100%;
   height:auto;

}
.middlebody-cloumns2{
 width: 100%;
   height:auto;
  
   
  


}
.badge{
   display: none;
}
.mbody-img{
   width: 100%;
margin:
  
} 

    
 }